body
{
  height:auto;
  margin-left: 80px;
}
#sec1
{
  height:800px;
  width:800px;
  float:left;
}
#sec2
{
  height:730px;
  width:800px;
  padding-top:70px;
  float:left;
}
#sec2 a
{
  font-size:20px;
}
#sec2 .im1
{
  height:150px;
  width:300px;
  margin-top:-50px;
  margin-left:-47px;
}
#sec2 .p1
{
  font-size: 25px;
  margin-top:-95px;
  margin-left:230px;
}
#sec2 section
{
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}
.s1
{
  font-size: 40px;
  color:red;
  margin-right: 10px;
}
.s2
{
  font-size: 40px;
}
.s4
{
  text-decoration: line-through;
  font-size:25px;
  color: grey;
}
.p2
{
  font-size: 25px;
}
#btn1
{
  margin-left: 50px;
  margin-top:-20px;
}
#btn1 input
{
  margin-left: 30px;
  height: 50px;
  width: 100px;
  margin-top: 20px;
  font-size: 15px;
  -webkit-text-stroke:0.5px black;
  letter-spacing: 0.5px;
}
#t1
{
  font-size: 20px;
  margin-top: 20px;
  line-height: 30px;
  font-family: Arial;
}
#btn2
{
  height:50px;
  width:250px;
  margin-top: 20px;
  margin-left: 300px;
  border-radius: 25px 25px 25px 25px;
  font-size: 20px;
  background-color: #FFD700;
}
#btn3
{
  height:50px;
  width:250px;
  margin-top: 20px;
  margin-left: 300px;
  border-radius: 25px 25px 25px 25px;
  font-size: 20px;
  background-color: orange;
}